.git
.gitignore
venv/
.venv/
**/__pycache__/
**/*.pyc
.DS_Store
*.egg-info/
*.egg
build/
dist/
airflow.db
logs/
simple_auth_manager_passwords.json.generated
airflow.cfg
webserver_config.py
docker-compose.override.yml
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
*.log
*.tmp
.standalone_admin_password.txt
airflow_home/